*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}



body{
    width:50%;
    margin:auto;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
